<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="psloom" value="https://nuget.pkg.github.com/PSLoom/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="psloom">
      <package pattern="PSLoom" />
      <package pattern="PSLoom.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <psloom>
      <add key="Username" value="PSLoom" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
    </psloom>
  </packageSourceCredentials>
</configuration>
